<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form action="/sign-up" method="post">
      <div>
        <label for="firstName">First name</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          value="<%= locals.firstName && firstName %>"
          required
        />
      </div>
      <div>
        <label for="lastName">Last name</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          value="<%= locals.lastName && lastName %>"
          required
        />
      </div>
      <div>
        <label for="username">Email</label>
        <input
          type="email"
          name="username"
          id="username"
          value="<%= locals.username && username %>"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          required
        />
      </div>
      <div>
        <label for="confirmPassword">Confirm password</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required
        />
      </div>
      <% if (locals.errors) { %> <% errors.map(err => { %>
      <p style="color: red"><%= err.msg %></p>
      <% }) %> <% } %>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <a href="/"><button type="button">Back home</button></a>
  </body>
</html>
